body {
          background: #333;
          color: #eee;
          text-align: center;

          margin: 0px;
          padding: 30px 200px 30px 200px;
          font-size: 18px;
          font-family: Arial, Helvetica, sans-serif;
        }

ul {
        margin: 0;
        padding: 0;
        list-decoration: none;
    }

li {
      margin: 0;
      padding: 0;
  }

a {
    text-decoration: none;
    color: #69D2E7;
    }

a:visited, a:active {
    color: #FA6900;
}

a:hover {
    text-decoration: underline;
}

footnote {
          background: #333;
          color: #eee;
          text-align: left;


          font-size: 14px;          
        }
